.card-item {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid #b1b0b0;
    margin: 30px;
    border-radius: 2px;

    img {
        width: 100%;
        height: 78%;
        padding: 1px;
        object-fit: cover;
        border-radius: 5px;
    }
}

.card_title {
    text-align: left;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    height: auto;
    padding: 5px;

    span {
            font-size: 18px;
            list-style: none;
        }

    .card_text {
        display: flex;
        align-items: center;
        color: #383737;

        p {
            font-size: 14px;
            padding: 5px;
        }
    }
}
